body {
  width: 275px;
  height: 450px;
  background: linear-gradient(180deg, #845EC2 0%, #0081CF 100%);
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  margin-top: 0.1em;
  text-align: center;
  color: #FFFFFF;
}

input[type=text] {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  width: 95%;
  padding: 0.75em 0.75em;
  margin: 0.5em auto;
  display: inline-block;
  border: 0px none;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  color: #FFFFFF;
}

input[type=password] {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  width: 95%;
  padding: 0.75em 0.75em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
  border: 0px none;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  color: #FFFFFF;
}

input:focus {
  outline: 0;
  box-shadow: 0 0 2pt 1pt rgba(0,129,207,1);
}

::placeholder {
  color: white;
}

button {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  width: 75%;
  padding: 0.5em 0.5em;
  margin: 0.5em auto;
  display: inline-block;
  border: 0px none;
  box-sizing: border-box;
  background: white;
  border-radius: 3px;
  color: #845EC2;
}

button:hover {
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 2pt 2pt #845EC2;
}

#login {
  margin: 3em auto;
  width: 95%;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 25%;
}